.bgimage {
    background-image: url(https://media.istockphoto.com/id/610774950/photo/beautiful-pumpkin-patch.webp?b=1&s=170667a&w=0&k=20&c=sawAg6cnghRv6XobBkbmY8T9TUWF6egL67AdNSSVYgY=);
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: darkorange;
    text-shadow: 0px 5px 10px black;
}

.bottombox {
    background-color: darkorange;
    color: black;
    border: 5px solid black;
}

.buttonyel {
    background-color: yellow;
    color: black;
}

.buttonred {
    background-color: red;
    color: black;
}

.brdr {
    border-right: 5px solid black;
}

.brdr2 {
    border-left: 5px solid black;
}